.dashboard .history {
    border: 1px solid #ebeef3;
    width: 800px;
    margin: 0 auto;
    border-spacing: inherit;
}

.dashboard .history thead {
    background-color: #ebeef3;
}

.dashboard .history thead tr th, .dashboard .history tbody tr td {
    padding: 1rem 2rem;
    border-spacing: 1px;
    text-align: center;
}

table {
    border-collapse: collapse;
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
}

table td, table thead tr th {
    border-left: 1px solid #d2d2d2;
    border-right: 1px solid #d2d2d2;
}

table td:first-child {
    border-left: 1px solid #ebeef3;
}

table td:last-child {
    border-right: 1px solid #ebeef3;
}